<h3><%= @wine.brand %></h3>
<p>Winery: <%= @wine.winery %></p>
<p>State: <%= @wine.state %></p>
<p>County: <%= @wine.county %></p>
<p>Varietal: <%= @wine.varietal %></p>
<p>Vintage: <%= @wine.vintage %></p>
<p>Price: $<%= @wine.price %></p>


    <% if @wine.user == current_user %>
<form action="/wines/<%= @wine.id %>" method="post">
        <a href="/wines/<%= @wine.id %>/edit" class="btn btn-primary red darken-3" style="margin-right: 25px">Edit</a>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" class="btn btn-primary red darken-3">
    <% end %>
</form><br>
