<h3><%= @wine.brand %></h3>
<p>Winery: <%= @wine.winery %></p>
<p>State: <%= @wine.state %></p>
<p>County: <%= @wine.county %></p>
<p>Varietal: <%= @wine.varietal %></p>
<p>Vintage: <%= @wine.vintage %></p>
<p>Price: $<%= @wine.price %></p>

<a href="/wines/<%= @game.id %>/edit" class="btn btn-primary red darken-3">Edit</a>
